[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	autocrlf = input

[includeIf "gitdir:~/clonedCode/"]
	path = .gitconfig-work

[includeIf "gitdir:~/Programming/"]
	path = .gitconfig-learn

[init]
	defaultBranch = main
